#content{padding: 0px;width: 990px;float: left;_display: inline;background:@box_color;}
#content .head {padding:5px 10px 15px 10px;margin: 0 10px;border-bottom: #CCC 1px solid;}
#content .head h2 {display: inline;font-size: 16px;}
#content .sect {padding:20px 10px 50px 10px;}
.box {border: #ccc solid 1px;}
.box-top {height: 15px;overflow: hidden;}










