@CHARSET "UTF-8";
.filter_row{ border:@border_color solid 1px;  padding:0px 15px 15px 15px; background:@box_color;}
.filter_row dl{ display:block; padding:15px 0px 15px 0px;  border-bottom:@border_color dotted 1px; }
.filter_row dl.orientation_row{ height:20px; _overflow:hidden;}

.filter_row dl.bottom{ display:block; padding:15px 0px 0px 0px;  border-bottom:0px; }

.filter_row dl dt,.filter_row dl dd{float:left; display:block;}
.filter_row dl.orientation_row dd{ float:none;}
.filter_row dl dt{ width:50px; padding:2px 5px; height:18px; line-height:18px; }
.filter_row dl ul li{ float:left; display:block;  }
.filter_row dl ul li a{ white-space:nowrap; display:inline-block; padding:2px 10px; height:18px; line-height:18px; margin:0px 5px 3px 0px; color:@dark_color;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
}
.filter_row dl ul li a:hover{ background:@main_color; color:#fff;}
.filter_row dl ul li.current a{ background:@main_color; color:#fff; }

/*头部筛选菜单样式*/
.orientation {padding: 0px;position: relative;z-index: 20;}
.orientation .arrow{
	margin:6px 6px 0px 6px;
	float:left;
	width: 5px;
    height: 9px;
	background: url(../images/css_bg/com_bg.gif) 0px -539px;
	overflow:hidden;
}
.orientation .tag{
	display:block;
	float:left;
	height:22px;
	
	position:relative;
}
.orientation_nav .content_padding{
	padding:0px 20px;
}

.orientation .tag .hidden_nav {
position: absolute;
width: 290px;
background: #fff;
top: 21px;
z-index: 1;
left: 0px;
border: 1px solid @main_color;
overflow:hidden;
padding:7px 0px;
display:none;/*测试代码*/
}
.orientation .tag .name {
border: 1px solid @main_color;
line-height: 20px;
height: 20px;
display: block;
padding: 0px 16px 0px 8px;
z-index: 2;
position: relative;
float:left;
}
.orientation .tag .name i{
	height: 0;
	width: 0;
	position:absolute;
	right:5px;
	top:9px;
	overflow:hidden;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 5px solid transparent;
	border-top-color: #666;	
	_border-left-color:tomato; /*For IE6-*/    
	_border-right-color:tomato; /*For IE6-*/  
	_filter:chroma(color=tomato);/*For IE6-*/ 
}
.orientation .tag a.name {
border: 1px solid @main_color;
line-height: 20px;
height: 20px;
display: block;
padding: 0px 7px;
z-index: 2;
position: relative;
}

.hidden_nav ul li{
	float:left;
	margin-left:-1px;	
	padding:6px 0px;
}
.hidden_nav ul li a{
	height:12px;
	line-height:12px;
	*line-height:15px;
	padding:0px 10px;
	border-left:1px solid @border_color;
	white-space:nowrap; 
	display:block;
	float:left;
	font-size:12px;
}
.orientation .tag .deceit{
	border-left:1px solid @main_color;
	/*border-right:1px solid @main_color;*/
	height:1px;
	line-height:1px;
	background:none;
	font-size:0px;
	overflow:hidden;
	position:absolute;
	top:21px;
	z-index: 3;
    width: 100%;
	left:0px;
}
.orientation .tag .hidden_but{
	float:left;
	position:relative;
	display:block;
	height:20px;
	line-height:20px;
	z-index:1;
	width:20px;
    border:1px solid @main_color;
	left:-1px;
	color:@main_color;
}

.orientation .tag .hidden_but i{

	display:inline-block;
	width:20px;
	height:20px;
	line-height:20px;
	text-align:center;

}


.orientation .tag.active .hidden_nav{
	display:block;
}

.orientation .tag.active .name{
	border-bottom-color: #fff;
	color:@main_color;
}
.orientation .tag .hidden_but:hover{
	background:@main_color;
}
.orientation .tag .hidden_but:hover i{

	display:inline-block;
	width:20px;
	height:20px;
	line-height:20px;
	text-align:center;
	color:#fff;

}

.orientation .tag.active .name i{
	border-bottom: 5px solid transparent;
	border-bottom-color: @main_color;
	border-top:none;
	top:8px;
	
	
}


.filter_row dl dd.expend{ width:60px; text-align:center; }
