@CHARSET "UTF-8";
.account_management p{height: 34px;line-height: 34px;font-size: 14px;color: #666;}
.account_management .acct_login {background: #f1f1f1;margin-bottom: 10px;padding: 10px;border: 1px solid #ccc;}

.standard_table {table-layout: fixed;width: 100%;margin-top: 5px;border: 1px solid #e8e8e8;border-collapse: collapse;border-spacing: 0;font-size: 12px;color: #666;text-align: center;background-color: #fff;}
.standard_table th {border-bottom: 1px solid #e8e8e8;padding: 8px 10px;color: #222;background-color: #f8f8f8;text-align: center;}
.standard_table td {border: 1px dotted #e8e8e8;padding: 15px 20px;line-height: 22px;color: #666;word-break: break-all;word-wrap: break-word;}
.standard_table a {text-decoration: none;color: @main_color;}
.standard_table a:hover {text-decoration: none;color: @dark_color;}

























