.publish_cons .con_item{padding:20px;}
.con_item{display:none;}
.con_item.curr{display:block;}
.confirm_form_btn{text-align:right;margin-right:58px;}
.next_form_btn_box{display:inline-block;}

.t_field_value input{padding:8px 2px;width:180px;}
input.long_input{width:400px;}
.t_field_value .t_textarea{resize: none;width: 400px;height: 100px;border: #ccc solid 1px;font-size: 14px;word-spacing: 8px;-spacing: 1px;}
.content .head_box h2{display:block;}
.content .head_box .publish_project_btn{width:80px;}
.t_field_value .ui-checkbox{margin:5px;}
.t_tip {color: #860;display:inline-block;*zoom:1;*display:inline;margin-left:2px;}

/*weebox*/
.deal_add_goods_type_page .goods_type_i{margin-left:20px;border-bottom:1px dashed #ccc;}
.deal_add_goods_type_page .sub_con{padding: 10px 0 20px 20px;}
.deal_add_goods_type_page .sub_con .attr_item_list p{display:block;padding:10px;}
.deal_add_goods_type_page .sub_con .attr_item_list .i_text{padding: 7px;width: 250px}
.deal_add_goods_type_page .sub_con .add_attr_btn{padding-left:10px;}

/*城市选择*/
.city_select_box{position: relative;z-index: 55;}
.city_select_box .selected_city span{border: 1px solid #ccc;width: 80px;height: 25px;line-height: 25px;font-weight: bold;display: block;text-align: center;}
.city_select_box .select_city_btn_box{margin: 2px;}
.city_list_box{display:none;position: absolute;top: 26px;left: 0px;background-color: #fff;width: 250px;border: 1px solid #ccc;padding: 10px;z-index: 55;}
.city_list_box dl dt{dispaly:block;color: #A59B9B;margin-bottom:5px;}
.city_list_box dl dd{display: inline-block;*zoom:1;*display:inline;}
.city_list_box dl dd a{display: block;padding: 2px;}
.city_list_box .curr{color:#fff;background-color:@main_color}

.required{color:red;}

/*产品列表*/
.table_box .date_p{text-align:center;}

#filter_row{display:none;}
