/* CSS Document */
/*footer*/
.bottom_box{width:100%;  background: #fff;  border-top: 1px solid #ddd;  padding: 10px 0;  position: fixed;  bottom:0;}
.bottom_box .bottom{padding:0 5px;}
.bottom_box .bottom ul li{float:left; width:19%; text-align: center;padding-left: 0;}
.bottom_box .bottom ul li a img{  width: 20px;  height: 20px;}
.bottom_box .bottom ul li.footer_nav_1 img{    width: 20px;  height: 20px;}
.bottom_box .bottom ul li.footer_nav_2 img{width: 24px;}
.bottom_box .bottom ul li.footer_nav_3 img{}
.bottom_box .bottom ul li.footer_nav_4 img{width: 17px;}
.bottom_box .bottom ul li.footer_nav_5 img{width: 24px;}
.bottom_box .bottom ul li a p{ color:#666666}