@charset "utf-8";

/* Common */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, figure, textarea, input, button, select {
margin: 0;
}

body {
color: #555;
background: #FFF;
min-height: 480px;
font-family: YaHei,Helvetica,Tahoma,sans-serif;
font-size: 14px;
line-height: 1.5;
-webkit-tap-highlight-color: rgba(255,255,255,0);
-webkit-user-select: none;
-moz-user-select: none;
-webkit-touch-callout: none;
cursor: default;
-webkit-text-size-adjust: 100%;
}
.body {
padding: 10px;
}
h1, h2, h3, div, li, p, menu, button {
font-size: 100%;
-webkit-tap-highlight-color: transparent;
}
a {
color: #f49231;
-webkit-tap-highlight-color: rgba(0,0,0,0);
}
header {
position: relative;
color: #FFF;
height: 50px;
text-align: center;
background: #a11d58;

}

input {
word-break: normal;
}
input, select {
vertical-align: middle;
-webkit-user-select: auto;
-moz-user-select: auto;
-ms-user-select: auto;

}

.back {
position: absolute;
z-index: 30;
float: left;
/* padding: 2.2em 5em 2em 10em; */
padding: 16px 10px 10px 20px;
}

.back img {
height: 40%;
}
.right-box {
right: 8px;
}



head, header a {
color: #FFF;
text-shadow: 0 1px 1px #348DA7;
}

.hd-lbtn {
position: relative;
display: block;
}

.hd-rbtn, .hd-lbtn span {
display: inline-block;
height: 27px;
line-height: 27px;
padding: 0 10px;
background: -webkit-linear-gradient(top,#EB2555,#A04E65);
border: 1px solid #B80F38;
border-radius: 5px;
}
.hd-lbtn span {
padding: 0 10px 0 5px;
margin-left: 12px;
position: relative;
border-left: 0;
border-radius: 2px 5px 5px 2px;
}

header h1 {
font: 700 20px/50px Arial;
text-shadow: 0 1px 1px #a11d58;
}

#account #login {
background: #FFF;
}

#login .wrapper {
border: 1px solid #AAA;
border-radius: 3px;
overflow: hidden;
width: 300px;
margin: 0 auto;
}

#login .login-tab {
display: -webkit-box;
text-align: center;
position: relative;
}

#login .normal-tab, #login .quick-tab {
display: block;
font-size: 16px;
font-weight: 400;
color: #333;
padding: 0 5px;
-webkit-box-flex: 1;
line-height: 48px;
}


#login .hilight-normal, #login .hilight-quick {
position: absolute;
height: 48px;
width: 50%;
border: 1px solid #AAA;
left: 0;
z-index: 1;
background: #CCC;
opacity: .5;
-webkit-transition: all .3s ease-in-out;
border-top: 0;
}

#login .cur-normal .hilight-quick {
z-index: 10;
left: 50%;
border-right: 0;
}

#login .cur-normal .hilight-normal {
z-index: 1;
left: 50%;
border-right: 0;
}


#login .panel {
position: relative;
font-size: 0rem;
white-space: nowrap;
-webkit-transition: all .3s ease-in-out;
width: 100%;
}

#login .panel[data-tab=normal] {
left: 0;
}

#login .quick-panel, #login .normal-panel {
display: inline-block;
letter-spacing: normal;
vertical-align: top;
word-spacing: normal;
white-space: normal;
padding: 8px 2% 10px;
text-align: center;
width: 96%;
position: relative;
}


#login .normal-panel {
left: 0;
}

#login .panel input {
background: #fafafa;
}

.input-common {
width: 100%;
padding: 0 10px;
margin: 6px 0;
height: 46px;
font-size: 16px;
border-radius: 3px;
border: 1px #ccc solid;
background: #fff;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}

.div-common {
width: 100%;
padding: 8px 10px;
margin: 6px 0;
height: 46px;
font-size: 16px;
border-radius: 3px;
border: 1px #ccc solid;
background: #fff;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}

.btn-large {
width: 100%;
font-size: 20px;
height: 46px;
display: block;
line-height: 44px;
text-align: center;
color: #FFF;
background: #f49231;
border-radius: 3px;
border: 1px solid #91A351;
box-shadow: 0 1px 0 rgba(255,255,255,.3) inset,1px 1px 4px #CCC;
-moz-box-shadow: 0 1px 0 rgba(255,255,255,.3) inset,1px 1px 4px #CCC;
-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.3) inset,1px 1px 4px #CCC;
}

.sub-action {
text-align: center;
padding: 12px 0 5px;
}

a {
color: #00A3CE;
-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.sub-action a {
margin: 0 1em;
}
.mask {
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
height: 100%;
z-index: 998;
display: -webkit-box;
display: box;
-webkit-box-align: center;
box-align: center;
-webkit-box-pack: center;
box-pack: center;
background: rgba(0,0,0,1) center center no-repeat;
}
.pageinator {
height: 48px;
position: relative;
padding: 0 8px;
background: #f8f8f8;
border-top: 1px solid #EFEFEF;
border-bottom: 1px solid #FFF;
}

.biz-pageinator {
background: #FFF;
border: 0;
}

.btn {
text-align: center;
background-color: #FFF;
border: 1px #CCC solid;
cursor: pointer;
padding: .5em 1.5em;
color: #6C6C6C;
border-radius: 3px;
background: -webkit-gradient(linear,0 0,0 100%,from(#FCFCFC),to(#F0F0F0));
}


.btn-top {
width: 96px;
padding: 0;
display: inline-block;
line-height: 30px;
}
/*.btn:hover {
background: -webkit-gradient(linear,0 0,0 100%,from(#EFEFEF),to(#FCFCFC));
}*/
a {
color: #000;
text-decoration: none;
}
.icon-top {
height: 30px;
padding: 0 10px 0 25px;
background-position: -192px -40px;
}



.ft-user {
float: left;
padding: 0 0 0 10px;
}



strong {
font-weight: 700;
}

.ft-user-exit {
margin: 0 0 0 8px;
}



.ft-city-change {
padding: 0 0 0 14px;
margin: 0 0 0 6px;
}


.ft-nav {
border-top: 1px #D5D5D5 solid;
background: -webkit-gradient(linear,0 0,0 100%,from(#F0F0F0),to(#FFF));
}

.ft-nav ul {
font-size: 0;
text-align: center;
height: 35px;
overflow: hidden;
border-top: 1px #FFF solid;
}

.ft-nav a:after {
content: '-';
height: 28px;
width: 1px;
background: #CCC;
position: absolute;
right: 0;
top: 4px;
font-size: 0;
text-indent: -9999px;
background: -webkit-gradient(linear,0 0,0 100%,from(#FFF),to(#FFF),color-stop(0.5,#CCC));
}
.ft-nav a {
display: block;
}
.clearfix:after {
display: block;
content: '';
clear: both;
visibility: hidden;
}

.ft-partner {
padding: 0 8px;
color: #999;
}

.ft-partner strong, .ft-partner ul, .ft-partner ul li {
display: inline-block;
font-size: 16px;
font-weight: 400;
}
.ft-copyright {
position: relative;
text-align: center;
width: 100%;
font-size: 12px;
color: #999;
height: 30px;
}

.ft-copyright:before {
display: block;
content: "";
background-image: -webkit-gradient(radial,center center,0,center center,460,from(#b4b4b4),to(#efefef));
background-image: -webkit-radial-gradient(circle,#b4b4b4,#efefef);
background-image: -webkit-radial-gradient(circle, #b4b4b4, #efefef);
background-image: radial-gradient(circle,#b4b4b4,#efefef);
background-repeat: no-repeat;
height: 1px;
overflow: hidden;
margin-top: 12px;
}
.ft-copyright {
position: relative;
text-align: center;
width: 100%;
font-size: 12px;
color: #999;
height: 30px;
}
.ft-copyright-text {
line-height: 23px;
background: #FFF;
padding: 0 6px;
position: relative;
top: -11px;
}
.ft-copyright-text a {
color: #999;
}
#meituan_check {
overflow: hidden;
height: 1px;
width: 1px;
}

.pageinator {
text-align: center;
height: 48px;
position: relative;
padding: 0 8px;
background: #f8f8f8;
border-top: 1px solid #EFEFEF;
border-bottom: 1px solid #FFF;
}

.pg-next, .pg-top {
display: inline-block;
line-height: 48px;
}

.pg-next {
float: left;
}

.btn2 {
display: inline-block;
font-size: 16px;
text-align: center;
border: 1px solid #7D7D7D;
cursor: pointer;
padding: .45em 1.65em;
color: #6f6f6f;
line-height: normal;
border-radius: 4px;
background: #f8f7f6;
}

.pg-next span {
margin-right: 10px;
}
.pg-next span {
margin-right: 10px;
}

.pg-top {
text-align: center;
float: right;
line-height: 48px;
}
.btn3 {
display: inline-block;
font-size: 16px;
text-align: center;
cursor: pointer;
padding: .45em 1.65em;
color: #6f6f6f;
line-height: normal;
border-radius: 4px;
}

.ft-wrap {
text-align: center;
margin: 0 auto;
height: 50px;
width: 100%;
font-weight: bold;
border-top: 1px solid #D5D5D5;
}
.ft-wrap div {
line-height: 48px;
text-align: center;
}
.ft-account {
float: left;
padding: 0 0 0 10px;
}
.btn, .btn-block {
display: inline-block;
font-size: 16px;
text-align: center;
margin-top: 10px;
border: 1px solid #7D7D7D;
cursor: pointer;
padding: .45em 1.65em;
color: #FFF;
line-height: normal;
border-radius: 4px;
background: #a11d58;
}
font[Attributes Style] {
color: rgb(161, 29, 88);
}
.ft-nav li {
color: #a11d58;
font-weight: bold;
float: left;
width: 20%;
font-size: 16px;
line-height: 36px;
position: relative;
}
.ft-city {
text-align: center;
float: right;
padding: 0 10px 0 0;
}

.box-style {
position:absolute;
background: #FFF;
border-radius: 5px;
border: 1px solid #CCC;
margin: 13px;
padding: 8px 7px;
box-shadow: 2px 2px 4px #ededed;
-moz-box-shadow: 2px 2px 2px #ededed;
-webkit-box-shadow: 2px 2px 4px #ededed;
z-index:1;
width: 50%;
}

.box-style h2 {
color: #333;
font-size: 16px;
padding: 0 5px 6px;
}
textarea {
 width:100%;
 height:100px;

}
.icon-fonts {
font-family: Test;
margin-right: .4em;
text-align: center;
opacity: .7;
line-height: 1em;
font-size: 19px;
}

.deal-terms div {
border-top: 1px dashed #e5e5e5;
padding: 9px 0 0 30px;
}