.hot_search_list{
	padding:10px 13px;
	text-align:center;
	display:none;
}

.hot_search_list li{
	width:32%;
	display: inline-block;
	
}

.hot_search_list li a{
	display:block;
	margin:5px;
	border:1px solid #e0e0e0;
	text-align:center;
	border-radius:5px;
	text-align:center;
	height:28px;
	line-height:28px;
	font-size:12px;
	color:#aeaeae;
}


.criteria h3{
	color:#404040;
	font-size:14px;
	line-height:24px;
	
}

.criteria ul{
	margin:10px 0;
	border-left:1px solid #e6e6e6;
	
}

.search_criteria li{
	-webkit-box-flex:1;
	text-align:center;
	line-height:42px;
	font-size:14px;
	color:#404040;
	border-right:1px solid #e6e6e6;
	border-top:1px solid #e6e6e6;
	border-bottom:1px solid #e6e6e6;
	background: #fff;
}
.search_criteria .this{
	background:#e6e6e6;
}
.search_criteria li a{
	color:#404040;
	display:block;
}

.search_criteria{
	display:-webkit-box;
}

.criteria{
	overflow:hidden;
	
	padding:0 10px 5px 10px;
}


.search_box{
	padding:10px;
	display:-webkit-box;
}

.search_box .search_bottom{
	width:48px;
	height:28px;
	border:1px solid @border_style;
	border-radius:5px;
	overflow:hidden;
	background:@main_color;
	
	
}

.search_box .search_bottom input {
width: 100%;
height: 28px;
text-align: center;
background:none;
color:@font_white;
font-weight:700;
}

.search_box .search_text{
	-webkit-box-flex:1;
	margin-right:10px;
	height:28px;
	border:1px solid #d7d7d7;
	border-radius:5px;
	background:#fff;
	display: -webkit-box;	
}

.search_box .search_text .ico{
	height:28px;
	line-height:28px;
	text-align:center;
	width:24px;
	overflow:hidden;
	color:#d7d7d7;
}


.search_box .search_text .box{
	
	-webkit-box-flex: 1;
}

.search_box .search_text .box input{
	border-radius:5px;
   background: #d7d7d7;
   border: none;
   line-height: 28px;
   width: 100%;
   background:#fff;
   height: 28px
}
